body{
    background-color: #f77;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    
}

form{
    position: relative;
    display: inline-flex;
}

#newtask{
    padding-right: 3px;
    width: 250px;
    height: 30px;
    color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#addtask{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: white;
    border: 1px solid #909090;
    border-left: none;
    width: 55px;
    color: blue;
    font-size: 1em;
}
.listTasks > .task {
    background-color: white;
    margin-top: 15px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 1em;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskdelete{
    background-color: white;
    border: none;
    width: 55px;
    color: blue;
    font-size: 1em;
    align-self: left;
}