*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button{
    grid-column: 1 / -1;
    width: 85%;
    height: 50%;
    margin: 25px 17px;
    font-size: 1em;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}
body{
    background-color: darkgrey;
}
.sidebar{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, 1fr);
    height: 100vh;
    width: 20%;
    float: left; 
    padding: 3px
    
}
.main {
	display: grid;
	grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(25, 1fr);
	height: 100vh;
	background-color: darkgrey; 
	border: 2px red solid; 
	padding: 1px;
}
.cell{
   /* width: 15px; 
    height: 25px; */
    background-color: white;
    margin: 1px;
}

.color{
    border: 2px solid white;
    border-radius: 15%;
    
}